* {
    box-sizing: border-box;
}

html,
body,
.main {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #fff;
    color: #000;
    overflow: hidden;
}

.view {
    position: absolute;
    transition: 0.5s linear all;
}

.view-text {
    font-family: helvetica, sans-serif;
}

.big {
    padding: 10px;
    font-size: 60px;
    color: #333;
}

.small {
    padding: 10px;
    font-size: 30px;
    color: #999;
}

.view-image {

}

.view-frame body {
    text-align: center;
}

.show {
    opacity: 1;
}

.hide {
    opacity: 0;
}

.inline-block {
    display: inline-block;
}
